#ajout{
  background-color:#95a5a6;
  padding-top: 1em;
  padding-left: 1em;
  border: 2px black solid;

}

#text{
  background-color: #FFFFFF;
}

#tete{
    background: linear-gradient( #80D0D0, #5F9EA0);
    border: 2px black solid;

}

#descr{

    background: linear-gradient( #80D0D0, #5F9EA0);
    padding-bottom: 1em;
    height: 21em;
    width: 40em;

}

#image{
    margin-top: 1em;
    margin-left:1em;
    margin-right:1em;
    margin-bottom: 1em;
    border: 9px white solid;
    float: left;
}

#liste{

    padding-top: 1em;
    padding-left: 1em;
      padding-bottom: 1em;
}

#articl{
    background: linear-gradient( #80D0D0, #5F9EA0);
    border: 3px #5F9EA0 solid;
    padding-left: 1em;
    padding-bottom: 1em;
    width: 40em;
    margin-top: 1em;
    margin-left:1em;
    margin-right:1em;
    margin-bottom: 1em;
    float:left;
    padding:1em;
}

.realisateur{
  margin-bottom:-125px;
}

.infobulle{
  transition:0.2s;
  opacity:0;
  padding:10px;
  width:362px;
  height:200px;
  position:relative;
  right:-273px;
  top:-130px;
  background-color:white;
  border: 1px black solid;
}

.infobulle p{
  position:absolute;
}

.realisateur:hover .infobulle
{
  transition:0.5s;
  opacity:1;
}

h1{
  font-family: cursive;
}

#formu{
  display: flex;
}

#table{
  margin: 1em;
  border: 2px black solid;
}

#envoyer{
  margin-left: 2em;
  width: 15em;
  height: 3em;


}

.btn {
    display: inline-block;
    padding: 5px 10px;
    background: #ddd;
    border: 1px solid #bfbfbf;
    color: #1f6b81;
    font-size: 1em;
    margin-top: 1em;


}

.btn:hover, .btn:focus {
    background: #ccc;
    text-shadow: 0 -1px #eee;
}

.btn:active {
    background: #bfbfbf;
    text-shadow: 0 -1px #eee;
    border: 1px solid #bfbfbf;
}

#cancel{
    margin-top: 1em;
    font-size: 2em;
    font-weight: bold;
}

#annuler{
    margin-left: 1em;
    font-size: 15px;
}

.croix{
  position: relative;
  left: 210px;
  top: -65px;
  width: 50em;


}

#reaHigh{
  text-rendering: auto;
}
